# PRACTICA 1

### Resuelve las siguientes preguntas empleando lo aprendido con las estructuras de Datos

Pon el código debajo de cada pregunta. Añade tantas celdas de código como necesites.

#### 1.- Escribe una ecuación que emplee multiplicación, división, un exponente, suma y resta y que sea igual a 100.25. (0,25 ptos)

In [1]:
resultado = ((5**3)*8)/2+0.5-400.25

In [2]:
resultado

100.25

#### 2.- ¿Qué harías para obtener la raíz cuadrada de 100? Busca dos formas. (0,5 ptos)

In [13]:
raiz1 = 100**0.5

In [14]:
raiz1

10.0

In [11]:
raiz2 = 100**(1/2)

In [12]:
raiz2

10.0

#### 3.- ¿Y el cuadrado de 100? (0,25 ptos)

In [16]:
100**2

10000

#### 4.- Tenemos la string 'hello'. (0,5 ptos)
#### Primero devuelve la letra 'e'
#### Luego dale la vuelta a la string 
#### Después usa dos métodos para devolver la letra 'o'

In [22]:
s = 'hello'

In [23]:
print (s)

hello

In [25]:
s [1]

'e'

In [26]:
s[::-1]

'olleh'

In [27]:
s [4]

'o'

In [28]:
s [-1]

'o'

#### 5.- Crear una lista que contenga esto [0,0,0] de dos formas distintas (0,5 ptos)

In [33]:
mi_lista1 = [0,0,0]

In [34]:
mi_lista1

[0, 0, 0]

In [35]:
mi_lista2 = [0]*3

In [36]:
mi_lista2

[0, 0, 0]

#### 6.- Reasigna 'hello' en la lista a continuación para que diga 'goodbye' (1 pto)

In [40]:
lista = [1,2,[3,4,'hello']]

In [44]:
lista [2][2] = 'goodbye'
lista

[1, 2, [3, 4, 'goodbye']]

#### 7.- Ordena la siguiente lista (0,5 ptos)

In [45]:
listaSinOrdenar = [5,3,4,6,1]

In [46]:
listaSinOrdenar.sort()
listaSinOrdenar

[1, 3, 4, 5, 6]

#### 8.- En los siguientes diccionarios, extrae el valor de 'hello (2 ptos)

In [56]:
f = {'k1':{'k2':'hello'}}
f

{'k1': {'k2': 'hello'}}

In [61]:
f['k1']['k2']

'hello'

In [55]:
d = {'key1':'hello'}
d

{'key1': 'hello'}

In [62]:
d ['key1']

'hello'

In [63]:
g = {'k1':[{'o1':['valor escondido',['hello']]}]}
g

{'k1': [{'o1': ['valor escondido', ['hello']]}]}

In [72]:
g['k1'][0]['o1'][1][0]

'hello'

In [86]:
h = {'k1':[1,2,{'k2':['complicado',{'dificil':[1,2,['hello']]}]}]}

In [87]:
h['k1'][2]['k2'][1]['dificil'][2][0]

'hello'

#### 9.- Crea una tupla (1 pto)

In [1]:
t = (1,2,3)
type (t)

tuple

#### 10.- Emplea los sets para encontrar los valores únicos de esta lista (0,5 ptos)

In [82]:
listaDuplicada = [1,2,2,33,4,4,11,22,3,3,2]
set(listaDuplicada)

{1, 2, 3, 4, 11, 22, 33}

#### 11.- Haz las siguientes comparaciones: (0,5 ptos)
#### Dos mayor que tres
#### Tres igual que 2
#### La raíz cuadrada de cuatro no es igual a 2
#### Se cumple si 6 es mayor que 5 y 7 menor de 8
#### Se cumple si la longitud de _nombre_ es  que el número de elementos de _colores_ o si la longitud de _nombre_ es menor de 7.

In [83]:
# 2 mayor que 3
2>3

False

In [84]:
# 3 igual que 2
3 == 2

False

In [88]:
# raíz cuadrada de 4 no es igual a 2
4**0.5 != 2

False

In [9]:
6>5 or 7<8

True

In [6]:
nombre = "Pepito"
colores = ["azul","rojo","verde","lila","amarillo limón"]

In [8]:
len (nombre) == len(colores) or len(nombre) < 7

True

#### 12.- Crea un archivo mediante código que se llame _tabla-nombres.txt_ y que esté formado por 4 columnas y 4 filas con la siguiente formación (1,5 ptos):
#### Primera columna: Nombre
#### Segunda columna: Apellidos (2 apellidos)
#### Tercera columna: Edad
#### Cuarta columna: Mascotas (nombre de la mascota si tienen)

#### ¿Qué pasa si abres el archivo desde Jupyter y has metido acentos? ¿Puedes solucionarlo?

In [120]:
mi_archivo=open("TRAB17-09-25.txt","a+")
mi_archivo.write("Nombre\tApellidos\tEdad\tMasccotas\n")
mi_archivo.write("Lucia\tGarcia\t21\tPerro\n")
mi_archivo.write("Elena\tEsquinas\t45\tGato\n")
mi_archivo.write("Raquel\tGarcia\t20\tRatón\n")

23

In [121]:
mi_archivo

#### 13.- Crea un diccionario que contenga las siguientes parejas. Obtén el listado de keys() y guárdalo en una lista. Añade un par de elementos más y después convierte esa lista en un set (1 pto).

#### Rattus = novergicus, rattus
#### Glaucidium = brasilianum, hoskinsii, californicum, minutissimum
#### Echinocactus = grusonii
#### Opuntia = 1

In [98]:
diccionario = {
"Rattus": ["novergicus", "rattus"],
"Glaucidium": ["brasilianum", "hoskinsii", "californicum", "minutissimum"],
"Echinocactus": ["grusonii"],
"Opuntia": [1]
}

diccionario.keys()

dict_keys(['Rattus', 'Glaucidium', 'Echinocactus', 'Opuntia'])

In [111]:
lista = list(diccionario.keys())
lista

['Rattus', 'Glaucidium', 'Echinocactus', 'Opuntia']

In [113]:
lista = lista + ['hola'] + ['olé']
lista

['Rattus',
 'Glaucidium',
 'Echinocactus',
 'Opuntia',
 'hola',
 'olé',
 'hola',
 'olé']

In [116]:
x = set(lista)
type (x)

set